.main-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    margin-top: auto;
}

.main-weather h1{
    text-align: center;
    font-size: 2rem;
}

.main-weather img{
    height: 130px;
}

.main-weather .temperature > span{
    font-size: 0.8rem;
}

.main-weather .temperature > H3{
    display: inline-block;
    font-size: 2rem;
}