footer {
    width: 100%;
}

footer header {
    text-align: center;
    padding: 0.5rem;
}

footer header h1{
    text-align: center;
    font-size: 1.5rem;
}
 
footer .cities-list{
    display: flex;
    justify-content: space-between;
}