.map {
    padding: 0.5rem;

    background: white;
    color: black;

    border-radius: 5px;

    -webkit-box-shadow: 1px 1px 7px 0px rgb(131, 131, 131, 0.68);
    box-shadow: 1px 1px 7px 0px rgb(131, 131, 131, 0.68);

    height: 100%;

}