.rain-alert {
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 100px);

    width: 500px;
    height: 200px;

    background: white;
    color: black;

    z-index: 99;

    overflow: hidden;
    border-radius: 5px;

    -webkit-box-shadow: 1px 1px 7px 0px rgb(90, 90, 90);
    box-shadow: 1px 1px 7px 0px rgb(90, 90, 90);
}

.rain-alert header{
    width: 100%;
    background-color: #ccc;
    padding: 10px;

    box-sizing: border-box
}

.rain-alert header h1{
    display: inline;
}

.rain-alert header a{
    display: inline;
    float: right;
}

.rain-alert header a:hover{
    cursor: pointer;
}

.rain-alert .alert-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rain-alert .alert-body img{
    height: 150px;
}

.rain-alert .alert-body h2{
    font-size: 2rem;
}